@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background: black;
}



.nav a:hover{
  background-image: linear-gradient(119deg, #94e4ff, #7c5fff 55%, #ea33c2);
  color: #934bda;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.outer{
  position: relative;
  background: #111;
}
.button{
  height: 55px;
  width: 160px;
  border-radius: 7px;
}
.circle{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.outer button, .outer span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.outer button{
  background: #111;
  color: #f2f2f2;
  outline: none;
  border: none;
  font-size: 16px;
  z-index: 9;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.button button{
  height: 45px;
  width: 150px;
  border-radius: 7px;
}
.circle button{
  height: 180px;
  width: 180px;
  border-radius: 50%;
}
.outer span{
  height: 100%;
  width: 100%;
  background: inherit;
}
.button span{
  border-radius: 50px;
}
.circle span{
  border-radius: 50%;
}
.outer:hover span:nth-child(1){
  filter: blur(7px);
}
.outer:hover span:nth-child(2){
  filter: blur(14px);
}
.outer:hover{
  background: linear-gradient(119deg, #94e4ff, #7c5fff 55%, #ea33c2);
  animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
@media (max-width: 640px){
  .center{
    flex-wrap: wrap;
    flex-direction: column;
  }
}



.stat-block:hover {
  text-shadow: 0 0 75px rgba(95, 189, 251, 0.67);
  transform: scale(0.9);
}

.preloader{
  animation: loader 0.5s 2s forwards;
}

@keyframes loader {
   to{
    opacity: 0;
    visibility: hidden;
   }
}



.pulsechain{
    background-image: linear-gradient(90deg,#007cf0, #00dfd8);
    color: #934bda;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.liquidity{
  background-image: linear-gradient(90deg,#7928ca,#ff0080);
    color: #934bda;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wiz{
  background-image: linear-gradient(90deg,#7928ca,#ff0080);
  color: #934bda;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}