@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.custom-btn {
  color: #fff;
  padding: 13px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.custom-btn {
  position: relative;
  color: white;
  border: none;
  z-index: 2;
}
.custom-btn:before,
.custom-btn:after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  border: 1px solid;
  
  z-index: -1;
  transition: all 0.3s ease;
}
.custom-btn:before{
   top: 0;
   left: 0;
   border-bottom-color: transparent;
   border-right-color: transparent;
   border-top-color: white;
   border-left-color: white;
}
.custom-btn:after{
   bottom: 0;
   right: 0;
   border-top-color: transparent;
   border-left-color: transparent;
   border-bottom-color: white;
   border-right-color: white;
}
.custom-btn:hover:before,
.custom-btn:hover:after {
  border-color: #00aced;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px #00aced, 0 0 5px #00aced inset;
}

.custom-btn:hover{
  color: #00aced !important;
}
.heading{
    background-image: linear-gradient(360deg,#e1c4ff,#fbf5ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}





.a {
	position: absolute;
	bottom: 10px; left: 10px;
	color: #828282;
	text-decoration: none;
	
}


a:focus,
a:hover {
  color: #c6e2ff;
  text-shadow:
  0 0 2px rgba(202,228,225,0.92),
  0 0 10px rgba(202,228,225,0.34),
  0 0 4px rgba(30,132,242,0.52),
  0 0 7px rgba(30,132,242,0.92),
  0 0 11px rgba(30,132,242,0.78),
  0 0 16px rgba(30,132,242,0.92);
}