@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.customBG{
  background: linear-gradient(225deg, #FF8F03 14.89%, #C22863 85.85%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.customShadow{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.customShadow2{
  box-shadow: -4px -4px 12px #FC890A, 4px 4px 12px #FC890A;
}